/* Property Title */
h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    text-transform: capitalize;
}

/* Carousel */
.carousel img {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Tabs */
#property-tabs .nav-link {
    font-size: 1.1rem;
    font-weight: 500;
    color: #555;
    transition: color 0.3s, background-color 0.3s;
}

#property-tabs .nav-link:hover {
    color: #fff;
    background-color: #007bff;
}

#property-tabs .nav-link.active {
    color: #fff;
    background-color: #007bff;
}