/* 
   Global Styles for the entire application.
   Ensures consistent typography and layout across all pages.
*/
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

/* 
   App container styling for overall layout.
   Makes the app responsive and ensures proper spacing between header, content, and footer.
*/

.app-container {
    display: flex; /* Enables flexbox for layout management */
    flex-direction: column; /* Stacks children vertically */
    min-height: 100vh; /* Ensures the container spans the full viewport height */
}

/* 
   Main content area styling.
   Provides spacing and adjusts layout for the content area.
*/
.main-content {
    flex: 1; /* Makes the content area take up available space */
    padding: 20px;

}