/* Header.css */
.navbar {
    position: sticky;
        top: 0;
        z-index: 1000;
        background-color: #fff;
        border-bottom: 1px solid #ddd;
}

.nav-link {
    font-size: 1rem;
    text-transform: uppercase;
    margin-right: 1rem;
    color: black !important;
}

.nav-link:hover {
    text-decoration: underline;
}

.navbar-brand span {
    font-family: 'Arial', sans-serif;
}

button {
    text-transform: uppercase;
    font-size: 0.9rem;
}